
body {
   background-color: rgb(248, 246, 232);
   --main-text-color: #f7f7f7;
   --secondary-text-color: #a4a4a4;
   font-family: 'Indie Flower', cursive;
   
   }

   clearfix:after {
    content: " "; 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }


.navbar{

  position: fixed;
  top: 0;
  width:100%;
  background-color: rgb(238, 230, 215);
}
.navbar > .navbar__list {
 
    list-style-type: none;
     margin: 0;
     width: 100%;
     font-size: 0;
     
   }
   
   .navbar > .navbar__list > .navbar__item {
     float: right;
     display: inline-block;
     font-size: 1rem;
     margin-right: 5%;
     

   }
   .navbar > .navbar__list > .navbar__item a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: rgba(0, 0, 0, 0.9);
    right: 0%;
  }
  
 
  
  .navbar > .navbar__list > .navbar__item a:hover {
   color: #f7f7f7;
   background-color:  rgb(165, 140, 94);
   font-size: 1.5rem;
   border-radius: 5%;
  }
  .header{
   
    background-size: cover;
    background-position: center center;
    margin: 0%;
    height: 100vh;
    
  }

  .header > .container-photo {
    display: flex;
    margin: 0%;
    
    


  }
.container-photo > .header__img{
      height: 400px;
      width: 100%;
      top:100px;
      border-bottom: 5px;
      border-bottom-style: solid;
      border-bottom-color: white;
  }

  .header >.container-image{
    position: relative;
     left: 40%;
      top: -100px;
      overflow: hidden;
   }

  .header__datos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
  }

  
  .container-image > .header__foto{
     width: 200px;
     height: 200px;
     border-radius: 50%;
     border: 5px solid rgb(253, 253, 253);
     
  }

     
 
  .Container{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    
  }

  

  .Container >.ContainersqSoy{

   
  



  }
  .Containstudies__contain {
    display: flex;
    flex-flow: wrap;
    
        
    

  }
  .Containstudies__contain >.contain_list_item{
  
    
    
    align-items: center;
    justify-content: center;
    flex: 1;
    
    
   
    

  }
  .contain_list_item > img{

    max-width: 100%;
    max-height: 200px;

  }
  .contain_list_item > h4{

    font-size: 20px;

  }


  .containeraboutMe >.containeraboutMe__contenedor{
    display: flex;
    
    

  }

  
  .containeraboutMe__contenedor > .containeraboutMe__cita {
    display: flex;
    font-size: 20px;
    margin: 2%;
    

   
    }
    .Containercontacto{
      display: flex;

    }
    .form{
      margin: 2rem;
      padding: 1.2rem;

    }

    .form.form-row{
      margin-top: 2rem;

      padding: 0.8;

    }
    input{
      padding:0.5rem;
      border: 0.1rem solid wheat;

    }

    button[type="submit"]{
      background-color: beige;
      padding: 1rem 4rem;
      border-radius: 5%;
      cursor: pointer;
    }
  
  

  .footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.92);
    color: var(--main-text-color);
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  