
body {
   background-color: rgb(248, 246, 232);
   --main-text-color: #f7f7f7;
   --secondary-text-color: #a4a4a4;
   font-family: 'Indie Flower', cursive;
   
   }

   clearfix:after {
    content: " "; 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }


.navbar{

  position: fixed;
  top: 0;
  width:100%;
  background-color: rgb(238, 230, 215);
}
.navbar > .navbar__list {
 
    list-style-type: none;
     margin: 0;
     width: 100%;
     font-size: 0;
     
   }
   
   .navbar > .navbar__list > .navbar__item {
     float: right;
     font-size: 1rem;
     margin-right: 5%;
     
     

   }
   .navbar > .navbar__list > .navbar__item a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: rgba(0, 0, 0, 0.9);
    right: 0%;
  }
  
 
  
  .navbar > .navbar__list > .navbar__item a:hover {
   color: #f7f7f7;
   background-color:  rgb(165, 140, 94);
   font-size: 1.5rem;
   border-radius: 5%;
  }
  .header{
    background-image: url(./images/backgroundWood.jpg);
    
    margin: 0%;
    height: 100vh;
    margin-bottom: 10px;
    
  }

  .header > .container-photo {
    display: flex;
    margin: 0%;
    
    


  }
.container-photo > .header__img{
      height: 400px;
      width: 100%;
      top:100px;
      border-bottom: 5px;
      border-bottom-style: solid;
      border-bottom-color: white;
  }

  .header >.container-image{
    position: relative;
     left: 40%;
      top: -100px;
      overflow: hidden;
   }

  .header__datos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
  }

  
  .container-image > .header__foto{
     width: 200px;
     height: 200px;
     border-radius: 50%;
     border: 5px solid rgb(253, 253, 253);
     
  }

     
 
  .Container{
  
  margin: 10% 10% 10% 10%;

   
  }

  .Container >.title{
    border: 0.1rem solid wheat;
    margin-right: 85%;
    padding: 15px;
    background-color: rgb(238, 230, 215);

  }

  .ContainersqSoy{
   
    overflow: hidden;
    width: 500px;

  }
  .ContainersqSoy > .ContainersqSoy__contain{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  
  
  .ContainersqSoy >.qSoycontainer-image{
    
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    
  }
  .qSoycontainer-image1 >.qSoy__foto1{
    width: 200px;
    height: 200px;

  }
 .qSoycontainer-image2 >.qSoy__foto2{
  width: 200px;
  height: 200px;
    
  }
    
  
  .Containstudies>.Containstudies__contain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
    
  }
  .Containstudies__contain>.contain_list_item{
    list-style-type: none;
  }
 
  .contain_list_item > img{
    
    max-width: 100%;
    max-height: 200px;

  }
  .contain_list_item > h4{

    font-size: 20px;

  }


  .containeraboutMe >.containeraboutMe__contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }

  
  
  .containeraboutMe__contenedor > .containeraboutMe__cita {
    
    margin:2%;
    
    }
    .containeraboutMe__contenedor > .containeraboutMe__video {
    
      border-radius: 5%;
      border: 0.1rem solid wheat;
      
      }
    


    .Containercontacto{
      display: flex;

    }
    .form{
      margin: 0 20% 5% 20% ;
      padding: 1.2rem;
      border: 0.1rem solid wheat;
      color: #f7f7f7;
      background-color: rgb(238, 230, 215);
      border-radius: 5%;


    }
    

   button , .form-row {
      margin: 5px 2% 30px 2% ;
      

      
    }
    input{
      padding:0.5rem;
      border: 0.1rem solid wheat;

    }

    button[type="submit"]{
      background-color: beige;
      padding: 1rem 4rem;
      border-radius: 5%;
      cursor: pointer;
    }
  
  

  .footer {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.92);
    color: var(--main-text-color);
    height: 100px;
    align-items: center;
    justify-content: center;
    bottom: 0;  
  }
  