
body {
   background-color: rgb(248, 246, 232);
   --main-text-color: #f7f7f7;
   --secondary-text-color: #a4a4a4;
   font-family: 'Indie Flower', cursive;
   
   }

   clearfix:after {
    content: " "; 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
.navbar{
  
  position: fixed;
  top: 0;
  width:100%;
  background-color: rgb(238, 230, 215);
}
.navbar > .navbar__list {
    list-style-type: none;
     margin: 0;
     width: 100%;
     font-size: 0;
     
   }
   
   .navbar > .navbar__list > .navbar__item {
     display: inline-block;
     font-size: 1rem;
     

   }
   .navbar > .navbar__list > .navbar__item a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: rgba(0, 0, 0, 0.9);
    right: 0%;
  }
  
  .navbar > .navbar__list > .navbar__item--active a {
    color: #f7f7f7;
    background-color: rgba(255,255,255,0);
  }
  
  .navbar > .navbar__list > .navbar__item a:hover {
    color: #f7f7f7;
   background-color: #a4a4a4;
  }
  .header{
    font-family: 'Indie Flower', cursive;
  }

  .header > .container-photo {
    display: flex;
    margin: 0;
    width: 100%;
    


  }
.container-photo > .header__img{
   
      height: 400px;
      width: 100%;
      top:100px;
      border-bottom: 5px;
      border-bottom-style: solid;
      border-bottom-color: white;

     
  }
  

  .header__datos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;


  }
  .header >.container-image{
   position: relative;
    font-size: 30px;
    left: 40%;
     top: -100px;
     overflow: hidden;
  }
  .container-image > .header__foto{
    
     width: 200px;
     height: 200px;
     border-radius: 50%;
     border: 5px solid rgb(253, 253, 253);
     
  }

     
 
  .Container{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;


  }

  .Container >.ContainersqSoy__title{

    position: absolute;
    color: var(--secondary-text-color);
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  


  .containeraboutMe >.containeraboutMe__contenedor{
    display: flex;
    
    

  }

  
  .containeraboutMe__contenedor > .containeraboutMe__cita {
    font-size: 20px;
    margin: 2%;
   
    }
  
  

  .footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.92);
    color: var(--main-text-color);
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  